<!DOCTYPE html>
<html>
<head>
    <title>Book Search</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"> 
</head>
<body>
    
    <form action="/search" method="GET">
        <label for="title">Enter Book Title:</label>
        <input type="text" name="title" id="title">
        <input type="submit" value="Search">
    </form>

    {{if .Books}}
    <h2>Search Results:</h2>
    
    <section class='main-section'>
        {{range .Books}}
        <div class='card'> 
            <p>Book Title: {{.Title}}</p>
            <p>Author: {{.Author}}</p>
            <p>Pages: {{.Pages}}</p>
            <p>Rating: {{printf "%.2f" .Rating}}</p>
        </div>
        {{end}}
    </section>

    {{else}}
    <p>No books found matching the search criteria: {{.Query}}</p>
    {{end}}

</body>
</html>
